*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
keystore.properties
secrets.properties
api-5245190277294621651-718463-f914fb7573c6.json
*.jks
google-services.json
services.xml
